.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 880px;
  margin: 0 auto;
  padding: 45px 0 41px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(84,84,84,.7);
}

@media screen and (max-width: 1023px) and (min-width: 768px){
  .header {
    padding: 45px 100px 41px;
  }
}

@media screen and (max-width: 767px) and (min-width: 628px) {
  .header {
    padding: 28px 50px 27px;
  }
}

@media screen and (max-width: 627px) {
  .header {
    padding: 28px 120px 27px;
  }
}
