.popup__form {
  grid-area: content;
  padding: 35px 30px;
  width: 381px;
  background-color: white;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

@media screen and (max-width: 767px){
  .popup__form {
    padding: 25px 21px;
    width: 235px;
  }
}
