.profile {
  display: grid;
  margin: 0 auto;
  padding: 34px 0 0;
  box-sizing: border-box;
  justify-items: center;
  column-gap: 12px;
  grid-template-columns: 120px calc(100% - 120px - 150px - 24px) 150px;
  grid-template-areas:
    "avatar info add-button";

}

@media screen and (max-width: 1023px) and (min-width: 768px){
  .profile {
    padding: 40px 100px 0;
    grid-template-columns: 120px calc(100% - 120px);
    grid-template-areas:
      "avatar info"
      "add-button add-button";
  }
}

@media screen and (max-width: 767px){
  .profile {
    padding: 40px 50px 0;
    grid-template-columns: 100%;
    grid-template-areas:
      "avatar"
      "info"
      "add-button";
  }
}
